h2{
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background-color: orange;
}

#kotak{
    width: 400px;
    color: #fff;
    background-color: blue;
    padding: 50px;
}

body{
    background: url(img/Tree\ isolated\ on\ transparent\ background\ _\ Premium\ AI-generated\ PSD.jpeg), url(img/Comic\ Affects\ Green\ Screen\ Video.jpeg);
    color: white;
}